[submodule "src/shared/roact"]
	path = src/shared/roact
	url = https://github.com/Roblox/roact
[submodule "src/shared/Rodux"]
	path = src/shared/Rodux
	url = https://github.com/Roblox/Rodux
[submodule "src/shared/roact-rodux"]
	path = src/shared/roact-rodux
	url = https://github.com/Roblox/roact-rodux
[submodule "src/server/--name"]
	path = src/server/--name
	url = git@github.com:Kampfkarren/Roblox.git
[submodule "src/server/Roblox"]
	path = src/server/Roblox
	url = git@github.com:Kampfkarren/Roblox.git
